<div id = "PersonalNav">
<nav class="PersonalNavigation">
        <ul>
           <li><a href="login">Sign In</a></li>
           <li><a href="login">My appliances</a></li>
           <li><a href="login">My swap</a></li>
           <li><a href="login">Cart Items</a></li>
        </ul>
      </nav>
</div>
