<div id = "PersonalNav">
<nav class="PersonalNavigation">
        <ul>
           <li><a href="login">Sign In</a></li>
           <li><a href="myItems">My appliances</a></li>
           <li><a href="mySwaps">My swap</a></li>
           <li><a href="#">Cart Items</a></li>
        </ul>
      </nav>
</div>
