<header id="mainheader">
      <h1> Ashford Community Home</h1>
	  <h2>Appliance Swap</h2>
	  <h3>Welcome Samyuktha!!!</h3>
	  <h4> <img src = "../resources/Images/Appliances.jpg" alt ="appliance-swap"> </h4>
</header>
