@charset"UTF=8";

header
{
	padding:10px;
	font-size: 15px;
	color: blue;
	background-color: #87CEFA;
	border-style:solid;
	border-width:1px;
	border-color:black;
	margin-left : auto;
	margin-right:auto;
}

#mainheader div
{
	display :inline;
}

header h1,h2{
	font-size: 25px;
	font-weight:bold;

}
header h3{

	position:absolute;top:10px;right:15px;
}

#PersonalNav
{   padding:4px;
	background-color:#87CEFA;
	margin-top:1px;
	border:1px;
	border-color:black;
	border-width:1px;
	text-align:center;
	border-style:solid;

}

#PersonalNav1
{   padding:4px;
	background-color:#87CEFA;
	margin-top:1px;
	border:1px;
	border-color:black;
	border-width:1px;
	text-align:center;
	border-style:solid;

}

 .PersonalNavigation ul li {

	display:inline;
	text-align:center;
	margin-left:15px;
	margin-right:15px;
	font-size:20px;
	font-variant:small-caps;
	font-weight:bold;

	}
	.PersonalNavigation ul li a{

	text-decoration:none;

	}

#generalnav
{
	padding:5px;
	margin-top:1px;
	background-color:#D3D3D3;
	width:200px;
	height:400px;
	float:left;
	border-width:1px;
	border-style:solid;
	margin-bottom:1px;
	margin-right:20px;

}

.PersonalNavigation li+li:before{

	content:"|\00a0"

}


#generalnav ul
{
	list-style:none;

}

#generalnav ul li a
{
	text-decoration:none;
}



main{
	padding:5px;
	margin-top:1px;
	background-color:#D3D3D3;
	width:auto;
	height:400px;
	margin-left:10px;
	border-width:1px;
	border-style:solid;
	margin-bottom:1px;

}
section
{   padding:10px;
    margin:10px;
	background-color : #D3D3D3;
}
article
{
	margin-top:10px;
}
footer{
	clear:both;
	margin-top:1px;
	padding:5px;
	background-color:#87CEFA;
	border-width:1px;
	border-style:solid;
	color:blue;
	border-color:black;

}



.imgdPillows{
	float:left;
	width:300px;
}
}
.decorativePillows{
	margin-left:100px;
}
.content-pillow
{
	padding:5px;

}
tr,td
{
	padding: 8px;
    text-align: centre;
    border-bottom: 5px solid black;
	color:black;
}

table {
    border-collapse: collapse;
    width: 70%
}

.legend
{
	position:absolute;bottom:40px;left:300px;
}

.breadcrumb li
{
	list-style:none;
	display:inline;

}
.breadcrumb li+li:before {
    color: black;
    content:">\00a0";
}
#mainheader {

	text-align :center;
}

#mainheader img {

	float:left;
	padding-bottom:20px;

}

header h4{

	position:absolute;top:30px;left:15px;
}
.types
{
	list-style:none;

}
.TypeOfAppliance
{
	font-weight:bold;
	font-size:20px;
}


.CategoryButton
{
   position:absolute;right:100px;
}
.Elements a{

    display:block;
}
